@import url("/css/nullstyle.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
html, body {
  font-family: "Space Grotesk", sans-serif;
  position: relative;
  max-width: 1694.5px;
  max-height: 6143px;
  color: #FFFFFF;
  background: #050505;
}

.header__body {
  width: 1694.5px;
  height: 1007px;
  display: flex;
  flex-direction: column;
  background: url("/img/bgh.png") right no-repeat;
}