//* Zeroing
@import url('/css/nullstyle.css');

//* Import
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

//* Templates

$bd1: 1px solid red;
$bd2: 1px solid blue;
$bd3: 1px solid green;

$color1: #FFFFFF;
$color2: #00FFA3;
$color3: #000000;
$color4: #828282;
$color5: #363636;
$color6: #111111;

//* Main Web-Site settings
html, body{
    font-family: 'Space Grotesk', sans-serif;
    position: relative;
    max-width: 1694.5px;
    max-height: 6143px;
    color: $color1;
    background: #050505;
}

//* Header
.header {

    &__body {
        position: relative;
        width: 1694.5px;
        height: 1007px;
        display: flex;
        flex-direction: column;
        background: url('/img/bgh.png')right no-repeat;
        z-index: 1;
    }

    &__nav {
    }

    &__nav-menu {
        margin-top: 79px;
    }

    &__nav-logo {
        display: inline;
        margin-right: 56px;
        margin-left: 100px;
        transition: 0.3s;
        
        img{
            transition: 0.3s;
            
            &:hover{
                transition: 0.3s;
                transform: scale(1.1);
            }
        }
    }

    &__nav-list-left {
        display: inline;
        margin-right: 24px;

        a{
            transition: 0.3s;
            padding: 6px;

            span{
                &:nth-child(1){
                    transition: 0.3s;
                    font-size: 16px;
                    font-weight: 200;
                    line-height: 26px;
                    text-transform: capitalize;
                    color: #fff;
                }
            }

            .dot{
                content: '';
                position: absolute;
                top: 88px;
                left: 209.5px;
                color: $color2;
                width: 9px;
                height: 9px;
                background-color: $color2;
                border-radius: 50%;
                transition: 0.3s;
                opacity: 0;
            }

            .dot1{   
                position: absolute;
                transition: 0.3s;
                top: 88px;
                left: 308.5px;
            }

            .dot2{
                
                position: absolute;
                transition: 0.3s;
                top: 88px;
                left: 413.5px;
            }

            .dot3{
                
                position: absolute;
                transition: 0.3s;
                top: 88px;
                left: 530.5px;
            }

            .dot4{
                
                position: absolute;
                transition: 0.3s;
                top: 88px;
                left: 670.5px;
            }

            &:hover{
                transition: 0.3s;

                span{
                    transition: 0.3s;
                    font-weight: bold;
                }

                .dot{
                    transition: 0.3s;
                    position: absolute;
                    top: 108px;
                    opacity: 1;
                }
            }

            &:active{
                transition: 0.3s;

                span{
                    font-size: 17px;
                    color: $color2;
                }

                .dot{
                    opacity: 0;
                }
            }
        }
    }

    &__nav-link-left {
    }

    &__nav-list-right {
        display: inline;
        margin-right: 48px;

        &:nth-child(6){
            margin-left: 606px;
        }

        a{
            transition: 0.3s;
            border: 2px solid #FDFDFD;
            padding: 16px 24px;

            span{
                transition: 0.3s;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                text-transform: capitalize;
                color: #000;
            }

            &:hover{
                transition: 0.3s;
                border: 2px solid #000000;
            }
        }
    }

    &__nav-link-right {
    }

    &__left {
        position: absolute;
        width: 1030px;
        height: 602px;
        left: 100px;
        top: 241px;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        z-index: 5;
    }

    &__image {
        margin-top: 166px;
    }

    &__subtitle {
        position: relative;
        top: 70px;
        left: 15px;
        font-size: 32px;
        line-height: 41px;
        font-weight: 700;
        text-transform: capitalize;
        color: #00ffa3;
    }

    &__title {
        font-size: 80px;
        text-transform: capitalize;
        color: #fff;

        .vision{
            position: relative;
            top: 0;
            left: 300px;
        }

        .affordable{
            position: relative;
        }
    }

    &__portfolio {
    }

    &__portfolio-column {
        
    }

    &__portfolio-list {
        margin-top: 40px;
        display: inline-block;
        align-items: center;
        width: 148px;
        height: 148px;
        margin-right: 56px;

        p{
            margin-bottom: 5px;
        }
    }

    .get-started{
        background-color: $color2;
        text-align: center;
        align-items: center;
        transition: 0.3s;

        p{
            transition: 0.3s;
            padding-top: 40px;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
            text-transform: capitalize;
            color: #111;
        }

        &:hover{
            background-color: $color3;

            p{
                transition: 0.3s;
                font-size: 35px;
                font-weight: 700;
                text-transform: capitalize;
                color: $color2;
            }
        }

    }

    .trusted-companies{
        position: relative;
        top: 30px;
        transition: 0.3s;

        p{
            transition: 0.3s;
            font-size: 60px;
            font-weight: 700;
            text-transform: capitalize;
            color: #fff;
        }

        span{
            transition: 0.3s;
            font-size: 24px;
            line-height: 30px;
            text-transform: capitalize;
            color: #828282;
        }

        &:hover{
            p{
                color: $color2;
            }

            span{
                color: $color2;
                opacity: 40%;
            }
        }
    }

    .projects-completed{
        align-items: center;
        position: relative;
        top: 30px;
        transition: 0.3s;

        p{
            transition: 0.3s;
            font-size: 60px;
            font-weight: 700;
            text-transform: capitalize;
            color: #fff;
        }

        span{
            transition: 0.3s;
            font-size: 24px;
            line-height: 30px;
            text-transform: capitalize;
            color: #828282;
        }

        &:hover{

            p{
                color: $color2;
            }

            span{
                color: $color2;
                opacity: 40%;
            }
        }
    }

    &__right {
    }

    &__icon {
    }

    &__desc {
    }

    &__banner {
    }
}
