//* Zeroing
@import url('/css/nullstyle.css');

//* Import
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

//* Templates

$bd1: 1px solid red;
$bd2: 1px solid blue;
$bd3: 1px solid green;

$color1: #FFFFFF;
$color2: #00FFA3;
$color3: #000000;
$color4: #828282;
$color5: #363636;
$color6: #111111;

$width1: 1694.5px;

//* Main Web-Site settings
html, body{
    font-family: 'Space Grotesk', sans-serif;
    position: relative;
    width: 1694.5px;
    height: 6143px;
    color: $color1;
    background: #050505;
}

//* Header
.header {

    &__body {
        position: relative;
        width: 1694.5px;
        height: 1007px;
        display: flex;
        flex-direction: column;
        background: url('/img/bgh.png')right no-repeat;
        z-index: 1;
    }

    &__nav {
    }

    &__nav-menu {
        margin-top: 79px;
    }

    &__nav-logo {
        display: inline;
        margin-right: 56px;
        margin-left: 100px;
        transition: 0.3s;
        
        img{
            transition: 0.3s;
            
            &:hover{
                transition: 0.3s;
                transform: scale(1.1);
            }
        }
    }

    &__nav-list-left {
        display: inline;
        margin-right: 24px;

        a{
            transition: 0.3s;
            padding: 6px;

            span{
                &:nth-child(1){
                    transition: 0.3s;
                    font-size: 16px;
                    font-weight: 200;
                    line-height: 26px;
                    text-transform: capitalize;
                    color: #fff;
                }
            }

            .dot{
                content: '';
                position: absolute;
                top: 88px;
                left: 209.5px;
                color: $color2;
                width: 9px;
                height: 9px;
                background-color: $color2;
                border-radius: 50%;
                transition: 0.3s;
                opacity: 0;
            }

            .dot1{   
                position: absolute;
                transition: 0.3s;
                top: 88px;
                left: 308.5px;
            }

            .dot2{
                
                position: absolute;
                transition: 0.3s;
                top: 88px;
                left: 413.5px;
            }

            .dot3{
                
                position: absolute;
                transition: 0.3s;
                top: 88px;
                left: 530.5px;
            }

            .dot4{
                
                position: absolute;
                transition: 0.3s;
                top: 88px;
                left: 670.5px;
            }

            &:hover{
                transition: 0.3s;

                span{
                    transition: 0.3s;
                    font-weight: bold;
                }

                .dot{
                    transition: 0.3s;
                    position: absolute;
                    top: 108px;
                    opacity: 1;
                }
            }

            &:active{
                transition: 0.3s;

                span{
                    color: $color2;
                }

                .dot{
                    opacity: 0;
                }
            }
        }
    }

    &__nav-link-left {
    }

    &__nav-list-right {
        display: inline;
        margin-right: 48px;

        &:nth-child(6){
            margin-left: 606px;
        }

        a{
            transition: 0.3s;
            border: 2px solid #FDFDFD;
            padding: 16px 24px;

            span{
                transition: 0.3s;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                text-transform: capitalize;
                color: #000;
            }

            &:hover{
                transition: 0.3s;
                border: 2px solid #000000;
            }
        }
    }

    &__nav-link-right {
    }

    &__left {
        position: absolute;
        width: 1030px;
        height: 602px;
        left: 100px;
        top: 241px;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        z-index: 5;
    }

    &__image {
        margin-top: 6px;
    }

    &__subtitle {
        position: relative;
        top: 70px;
        left: 15px;
        font-size: 32px;
        line-height: 41px;
        font-weight: 700;
        text-transform: capitalize;
        color: #00ffa3;
    }

    &__title {
        font-size: 80px;
        text-transform: capitalize;
        color: #fff;

        .vision{
            position: relative;
            top: 0;
            left: 300px;
        }

        .affordable{
            position: relative;
        }
    }

    &__portfolio {
    }

    &__portfolio-column {
        
    }

    &__portfolio-list {
        margin-top: 40px;
        display: inline-block;
        align-items: center;
        width: 148px;
        height: 148px;
        margin-right: 56px;

        p{
            margin-bottom: 5px;
        }
    }

    .get-started{
        background-color: $color2;
        text-align: center;
        align-items: center;
        transition: 0.3s;

        p{
            transition: 0.3s;
            padding-top: 40px;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            text-align: center;
            text-transform: capitalize;
            color: #111;
        }

        &:hover{
            background-color: $color3;

            p{
                transition: 0.3s;
                font-size: 35px;
                font-weight: 700;
                text-transform: capitalize;
                color: $color2;
            }
        }

    }

    .trusted-companies{
        position: relative;
        top: 30px;
        transition: 0.3s;

        p{
            transition: 0.3s;
            font-size: 60px;
            font-weight: 700;
            text-transform: capitalize;
            color: #fff;
        }

        span{
            transition: 0.3s;
            font-size: 24px;
            line-height: 30px;
            text-transform: capitalize;
            color: #828282;
        }

        &:hover{
            p{
                color: $color2;
            }

            span{
                color: $color2;
                opacity: 40%;
            }
        }
    }

    .projects-completed{
        align-items: center;
        position: relative;
        top: 30px;
        transition: 0.3s;

        p{
            transition: 0.3s;
            font-size: 60px;
            font-weight: 700;
            text-transform: capitalize;
            color: #fff;
        }

        span{
            transition: 0.3s;
            font-size: 24px;
            line-height: 30px;
            text-transform: capitalize;
            color: #828282;
        }

        &:hover{

            p{
                color: $color2;
            }

            span{
                color: $color2;
                opacity: 40%;
            }
        }
    }

    &__right {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 619px;
        height: 614px;
        left: 980px;
        top: 284px;
    }

    &__icon {
        position: relative;
        left: 292px;
        transition: 0.3s;

        &:hover{
            transition: 0.3s;
            transform: scale(1.05);
        }
    }

    &__desc {
        p{
            padding: 37px;
            font-size: 18px;
            line-height: 30px;
            text-transform: capitalize;
            color: #828282;
            background: rgba(17, 17, 17, 0.5);
            backdrop-filter: blur(10px);
            border-radius: 0px 500px 500px 0px;
            transition: 0.3s;

            span{
                font-size: 18px;
                line-height: 30px;  
                color: #FFFFFF;
                text-transform: capitalize;
            }
        }

        
    }

    &__banner {
        position: relative;
        text-align: center;
        align-items: center;
        top: -40px;

        img{
            width: $width1;
        }
    }
}

//* Select
.select {

    &__body {
        position: relative;
        top: -40px;
        width: $width1;
        height: 1362px;
        background: #101010 url('/img/select-and-project.png') 0px 230px no-repeat;
    }

    &__up {
        display: flex;
    }

    &__media {
        display: flex;
        margin-left: 100px;
        margin-top: 120px; 
    }

    &__column {
        display: flex;
        text-align: center;
        align-items: center;
    }

    &__list {
        position: relative;
        top: -70px;
        a{
            img{
                position: relative;
                margin-right: 24px;
                transition: 0.3s;

                &:hover{
                    transition: 0.3s;
                    position: relative;
                    transform: translateY(-5px);
                    transform: scale(1.1);
                }
            }
        }
    }

    &__button {
        display: flex;
        margin-left: 182px;
        border: 2px solid #363636;
        padding: 33px 27px 29px 33px;
        margin-bottom: 142px;

        p{
            font-size: 18px;
            line-height: 30px;
            text-transform: capitalize;
            color: #828282;
            transition: 0.3s;
        }

        a{
            position: relative;
            padding: 16px 24px;
            border: 2px solid #FFFFFF;
            margin-right: 16px;
            left: 24px;
            transition: 0.3s;

            span{
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                text-transform: capitalize;
                color: #fff;
                transition: 0.3s;
            }

            &:hover{
                transition: 0.3s;
                border: 2px solid $color2;
                background-color: $color2;

                span{
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 26px;
                    text-transform: capitalize;
                    color: #131313;
                }
            }

            &:active{
                transition: 0.3s;
                background-color: $color6;
                border: 2px solid $color6;

                span{
                    transition: 0.3s;
                    color: $color2;
                }
            }
        }
    }

    &__button-text {
    }

    &__button-links {
    }

    &__title {
        margin-left: 100px;
        margin-bottom: 16px;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        text-transform: capitalize;
        color: #00ffa3;
    }

    &__subtitle {
        margin-left: 100px;
        margin-bottom: 141px;
        font-size: 60px;
        text-transform: capitalize;
        color: #fff;
    }

    &__image {
        width: 710px;
        height: 602px;
        margin-left: 100px;
        transition: 0.3s;
        
        &:hover{
            transition: 0.3s;
            transform: scale(1.1);
        }
    }

    &__text1 {
        margin-left: 100px;
        position: relative;
        top: -510px;
        left: 570px;
        font-size: 60px;
        text-transform: capitalize;
        color: #fff;
    }

    &__text2 {
        margin-left: 100px;
        position: relative;
        top: -430px;
        left: 750px;
        font-size: 18px;
        line-height: 30px;
        text-transform: capitalize;
        width: 545px;
        height: 90px;
        color: $color4;
    }

    .house {
    }

    .arrow {
        position: relative;
        left: 670px;
        top: -140px;
    }
}

//* About
.about {

    &__body {
    }

    &__title {
    }

    &__subtitle {
    }

    &__browse {
    }

    &__browse-body {
    }

    &__browse-number {
    }

    &__browse-title {
    }

    &__browse-text {
    }

    &__browse-link {
    }

    &__browse-image {
    }

    &__learn {
    }

    &__learn-body {
    }

    &__learn-image {
    }

    &__learn-number {
    }

    &__learn-title {
    }

    &__learn-text {
    }

    &__learn-link {
    }

    &__estimate {
    }

    &__estimate-body {
    }

    &__estimate-number {
    }

    &__estimate-title {
    }

    &__estimate-text {
    }

    &__estimate-link {
    }

    &__estimate-image {
    }

    .about-number {
    }
    
    .about-title {
    }
    
    .about-text {
    }
    
    .about-link {
    }
    
    .about-img {
    }
}




//* Homes


//* Testimonials


//* Footer


//* General Classes